.logo {
    width: 150px;
    height: 50px;
    vertical-align: middle;
    border-right: solid 2px rgb(150, 150, 150);
    justify-content: center;
    align-items: center;
    /* присваивания класса с параметром фона "хедеру" */
    background-color:  rgb(255, 255, 255);
}

.logo div {
    width: 150px; 
    height: 50px;
    align-items: center;
}

.logo img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.top {
    margin-left: 92px; 
    margin-top: -55px;
    font-size: 28px; 
    padding: 00px 100px;
    border-bottom: solid 2px rgb(150, 150, 150);
}

.top img {
    height: 30px; 
}

.top button {
    background-color: rgb(255, 255, 255);
    border: none;

}

.top button:hover {
    background: rgb(150, 150, 150);
    border-radius: 30px;
}

.top_bell {
    position: absolute;
    right: 70px;
}

.top_user {
    position: absolute;
    right: 0;
}