#menu {
    border-left: solid 2px rgb(150, 150, 150);
    border-right: solid 2px rgb(150, 150, 150);
    border-bottom: solid 2px rgb(150, 150, 150);
    width: 20%;
    height: 600px;
}

.p_menu {
    height: 50px;
    border-top: solid 2px rgb(150, 150, 150);
    display: flex;
    justify-content: left;
    align-items: center;
}

.inp {
    display: block;
    text-decoration: none;
    width: 100%;
    height: auto;
}